# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# Android
android/.gradle
android/captures/
android/local.properties
android/key.properties
android/app/*.keystore

# iOS
ios/.generated/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace
ios/DerivedData/

# Environment
.env
.env.local

# IDE
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Backend
backend/functions/lib/
backend/functions/node_modules/
backend/functions/.env
backend/functions/serviceAccount.json
